// page footer
footer {
  background-color: var(--color-back2);
  border-top: 3px solid var(--color-back4);

  section {
    padding: 40px;
    display: block;
    width: 50%;
    float: left;
  }

  #cover-art {
    img {
      max-width: 250px;
      float: right;
    }
  }

  .heads-up {
    font-size: 0.7rem;
  }

  nav {
    margin-block: 1em;

    ul {
      @include resetlist;
    }

    & > ul {
      display: flex;
      justify-content: left;
      gap: 1.5rem;

      ul a:link {
        font-weight: var(--font-weight);
      }
    }

    strong {
      color: white;
    }
  }
}
